<p *ngIf="langue.l == 'fr'">
    Une religion répandue est la croyance dans les esprits des éléments.
    Elle porte sur l’origine des éléments, et pose que 6 êtres, à l’origine des temps,
    se sont transformés en éléments pour créer les 6 éléments purs, et que maintenant,
    les êtres sensés peuvent utiliser la magie grâce à eux, et que lorsqu’un élément est invoqué,
    l’esprit de cet élément est présent dans l’invocation, et est donc gardé en vie à travers l’utilisation de la magie.
    Quand un être veut contrôler un élément, il communique (consciemment ou pas) avec l’esprit correspondant,
    et l’esprit lui ouvre la possibilité s’il considère l’être comme méritant.
    Cela explique la facilité de certains envers des magies et des difficultés dans d’autres.<br/>
    Les six êtres originaux sont souvent représentés par des silhouettes sans visages de la couleur de leur éléments.
    Leur sacrifice a permis le développement de la vie, et est donc vu comme le don suprême.<br/>
    <br/>
    Certaines personnes doutent de cette histoire, puisque l’origine des six êtres est inconnue,
    et si chaque être maintenant vient des éléments, comment est-ce que des êtres auraient pu vivre avant la création des éléments ?
    Eux pensent plutôt que les éléments ont toujours existé, et que les êtres sensés naissent en empruntant un peu de tous les éléments,
    mais plus de certains, avec lesquels ils auront plus de lien (et donc une manipulation plus facile) durant leur vie.
    Quand ils meurent, ils rendent ces éléments empruntés. La facilité avec certains éléments est donc décidée à la naissance.<br/>
    <br/>
    Enfin, un groupe plus restreint pensent que les six êtres originaux sont les êtres les plus purs et parfaits,
    et que les magies combinées sont des hérésies qui ternissent l’image et la puissance des six originaux.
    Ils ont décidé de n’apprendre qu’une ou deux magies pures, et veulent honorer les six en retirant toutes les magies combinées du monde.<br/>

</p>

<p *ngIf="langue.l == 'en'">

</p>