<br/>
<div class="div-skills">
    <img style="vertical-align: middle;" src="../../../assets/images/skill_trees/skill_tree_6_defense.png"/>
    <button class="button-skills top tcenter">
        <span class="hovertext">
            Être capable de porter des armures légères en combat.
        </span>
    </button>
    <button class="button-skills middle tleft">
        <span class="hovertext">
            Être capable de porter des armures lourdes en combat.
        </span>
    </button>
    <button class="button-skills middle tcenter">
        <span class="hovertext">
            Augmenter sa mobilité en combat.<br/><br/>
            Action - Consomme 1 PA pour se déplacer de 4 cases.<br/>
            Bonus - chaque début de tour, un PA est ajouté qui ne peut être consommé que pour du mouvement.<br/>
            Concentré - il est possible de courir en étant concentré.<br/>
        </span>
    </button>
    <button class="button-skills middle tright">
        <span class="hovertext">
            Esquive snowball.<br/><br/>
            Si esquive réussie de 5 ou plus, gagne 2 PR et +1 à l'esquive jusqu'au début du prochain tour. +1 à l'esquive stackable, pas le gain de PR.
        </span>
    </button>
    <button class="button-skills bot bleft">
        <span class="hovertext">
            Bloquer une attaque et réduire les dommages.<br/><br/>
            Requiert un bouclier.<br/>
            Consomme 1 PR pour gagner +1 en défense pour une attaque.<br/>
            Activable quand l'attaque touche, mais avant que les dommages soient lancés.
        </span>
    </button>
    <button class="button-skills bot bcenter">
        <span class="hovertext">
            Utiliser son action pour augmenter sa défense.<br/><br/>
            Consomme 3 PA pour obtenir +1 à l'esquive et +1 à la défense jusqu'au début de son prochain tour. Demande concentration.
        </span>
    </button>
    <button class="button-skills bot bright">
        <span class="hovertext">
            Réaction pour éviter une attaque.<br/><br/>
            Consomme 1 PR pour gagner +2 en esquive pour une attaque.<br/>
            Activable quand l'attaque est annoncée mais avant que le toucher soit lancé.
        </span>
    </button>
    <button class="button-skills xbot tleft">
        <span class="hovertext">
            Résitance à la douleur.<br/><br/>
            Quand la jauge de douleur atteint 10 (ou plus), le personnage reste conscient pour encore 2 tours.<br/>
            Le personnage doit encore lancer les dés de résistance pour savoir ses PA pour le tour, comme s'il était à 8 ou plus de douleur.<br/>
            À partir du 3e tour, le dé de douleur devient un d10, et s'il rate le personnage tombe inconscient.
        </span>
    </button>
</div>
<br/>
<br/>