
<div class="div-skills">
    <img style="vertical-align: middle;" src="../../../assets/images/skill_trees/skill_tree_4_defense.png"/>
    <button class="button-skills top tcenter">
        <span class="hovertext">

        </span>
    </button>
    <button class="button-skills middle tleft">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills middle tcenter">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills middle tright">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills bot bleft">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills bot bcenter">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills bot bright">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills xbot tleft">
        <span class="hovertext">
            
        </span>
    </button>

</div>
