@import '../skills.component.css';

.div-skills img {
    width: 54.5%;
    height: auto;
}

.div-skills .top {
  top:3.83%;
}
.div-skills .middle {
  top:30.8%;
}
.div-skills .bot {
  top:57.8%;
}
.div-skills .xbot {
  top:84.8%;
}

.div-skills .tleft {
  left:38.5%;
}
.div-skills .tcenter {
  left:51.83%;
}
.div-skills .tright {
  left:65.2%;
}
.div-skills .bleft {
  left:31.8%;
}
.div-skills .bcenter {
  left:45.2%;
}
.div-skills .bright {
  left:58.5%;
}

.div-skills .button-skills {
  height: 8.92%;
  width: 10.62%;
}
