@import '../skills.component.css';

.div-skills img {
    width: 55%;
    height: auto;
}

.div-skills .top {
  top:2%;
}
.div-skills .middle {
  top:30.54%;
}
.div-skills .bot {
  top:58.8%;
}
.div-skills .xbot {
  top:87.2%;
}

.div-skills .xleft {
  left:29.1%;
}
.div-skills .left {
  left:42.1%;
}
.div-skills .center {
  left:55.2%;
}
.div-skills .right {
  left:68.2%;
}

.div-skills .button-skills {
  height: 9.4%;
  width: 10.5%;
}
