@import '../skills.component.css';

.div-skills img {
    width: 50%;
    height: auto;
}

.div-skills .top {
  top:3.5%;
}
.div-skills .middle {
  top:32.1%;
}
.div-skills .bot {
  top:60.9%;
}
.div-skills .xbot {
  top:89.5%;
}

.div-skills .tleft {
  left:38.92%;
}
.div-skills .tcenter {
  left:52.35%;
}
.div-skills .tright {
  left:65.85%;
}
.div-skills .bleft {
  left:32.2%;
}
.div-skills .bcenter {
  left:45.7%;
}
.div-skills .bright {
  left:59.1%;
}

.div-skills .button-skills {
  height: 9.5%;
  width: 10.72%;
}
