<p *ngIf="langue.l == 'fr'">
    Les Flyhns, humains moitié oiseau, vivent dans les montagnes au sud ouest.<br/>
    Ils ont des ailes, planner est facile mais voler est extrêmement fatiguant.<br/>
    Physiquement, ils ont souvent les cheveux blonds ou clairs, la peau pâle ou bronzée, taille moyenne ou petite, quelques plumes aux oreilles, et une paire d'ailes dans le dos.<br/>
    Affinité avec la magie de lumière (jaune)<br/>
    La culture est centrée sur la communauté et l'honneur.<br/>
    [Thèmes/inspirations : valkyrie, Nordic, grec]<br/>
</p>

<p *ngIf="langue.l == 'en'">

</p>