<p>
  Chaque Sylvains appartient à une des 4 castes, en plus de la "caste des royaux" qui contient la famille directe royale, et la "caste des étrangers" en bas de tout.<br>
  La royauté            (la perfection)<br>
  Les nobles            (les supérieurs)<br>
  Les agriculteurs      (uns avec la nature)<br>
  Les artisants         (les propriétaires et créateurs)<br>
  Les employés & marchants  (les merdes)<br>
  Les étrangers         (les sous-merdes)<br>
  <br>
  La force militaire est une couche parallèle, et tu continue à appartenir à ta caste quand tu es dans la milice.
  Il existe service militaire obligatoire de 5 ans (pour les hommes).
  Peu de gens en font leur pleins temps, auquel cas ils vont dans la caste des artisants.
  Les déplacements entre caste sont difficiles, surtout au milieu de ta vie. De manière générale c'est déterminé par la caste de tes parents.
  En revanche une famille d'artisants ou d'employés, qui a un enfant doté de forte magie de nature, peut donner cet enfant à une autre famille d'agriculteurs pour qu'ils l'élèvent et que cet enfant rentre dans cette caste. La famille de sang reste derrière.
  Les marriage inter-caste n'est ni prévus ni bien vus. Néanmoins, si ils arrivent, l'enfant prend de la caste la plus basse.
  Il arrive aussi que des affaires (comprendre "infidélités") entre une personne d'une caste plus haute avec une d'une caste plus basse soient ignorées par la caste haute (et considérées comme "illégitimes" voire dont ils refusent l'existance).
  Les 4 classes (toutes sauf celles des étrangers et la royauté) sont obligées de participer à la société, à travers le travail, les taxes, le service militaire, etc.
  Un Sylvain sans travail tombe dans la caste des employés (pas de compétences ni possessions nécessaires).
  Les Sylvains ayant été trouvés coupables de contrôler le feu -ou d'autres crimes extrêmes- sont tatoués et relégués à la classes des étrangers.<br>
  Les funérails se basent sur le fait que tous les êtres vivants empruntent leur vie à la forêt et doivent la lui rendre. Les Sylvains sont donc enterrés quand ils meurent, et des plantes sont plantés sur la tombe.
  Le plus influent la personne était (et la plus haute sa caste) plus la plante sera grande. (ordre de grandeur : fleurs pour les castes basses, arbres pour les agriculteurs et nobles, arbres géants/spéciaux pour la royauté).
</p>
