<h2>Les Sylvains</h2>

<h3>Les castes</h3>
<p>
  Il existe 4 castes dans la société sylvaine, en plus de la "caste des royaux" qui contient la famille directe royale, et la "caste des étrangers" en bas de tout.
  Chaque Sylvain appartient à exactement une caste.<br>
  La royauté            (la perfection)<br>
  Les nobles            (les supérieurs)<br>
  Les agriculteurs      (unis avec la nature)<br>
  Les artisans         (les propriétaires et créateurs)<br>
  Les employés & marchands  (les merdes)<br>
  Les étrangers         (les sous-merdes)<br>
  <br>
  La force militaire est une couche parallèle, et un Sylvain continue à appartenir à sa caste quand il/elle est dans la milice.
  Il existe un service militaire obligatoire de 5 ans (pour les hommes).
  Peu de gens en font leur plein temps, auquel cas ils vont dans la caste des artisans, agriculteurs, ou nobles,
  selon leurs capacités physiques et leur affinité magique (et leur caste orginale).
  Les déplacements entre castes sont difficiles, surtout au milieu de sa vie. De manière générale c'est déterminé par la caste des parents.
  En revanche une famille d'artisans ou d'employés qui a un enfant doté de forte magie de nature
  peut donner cet enfant à une famille d'agriculteurs pour qu'ils l'élèvent et que cet enfant rentre dans cette caste. La famille de sang reste derrière.
  Le mariage inter-caste n'est ni prévu ni bien vu. Néanmoins, si il arrive, l'enfant prend la caste la plus basse.
  Il arrive aussi que des affaires (comprendre "infidélités") entre une personne d'une caste plus haute avec une d'une caste plus basse soient ignorées par la caste haute
  (et considérées comme "illégitimes" voire dont ils refusent l'existance).
  Les 4 classes (toutes sauf celles des étrangers et de la royauté) sont obligées de participer à la société, à travers le travail, les taxes, le service militaire, etc.
  Un Sylvain sans travail tombe dans la caste des employés (pas de compétences ni possessions nécessaires).
  Les Sylvains ayant été trouvés coupables de contrôler le feu -ou d'autres crimes extrêmes- sont tatoués et relégués à la classe des étrangers, souvent suivi d'un exile.<br>
</p>

<h3>Les rites funéraires</h3>
<p>
  Les funérails se basent sur le fait que tous les êtres vivants empruntent leur vie à la forêt et doivent la lui rendre.
  Les Sylvains sont donc enterrés quand ils meurent, et des plantes sont plantés sur la tombe.
  Le plus influent la personne était (et la plus haute sa caste) plus la plante sera grande.
  (ordre de grandeur : fleurs pour les castes basses, arbres pour les agriculteurs et nobles, arbres géants/spéciaux pour la royauté).
</p>

<h3>Mythes et légendes</h3>
<p>
  Autrefois, les essences étaient encore "en vie", et chacune possédaient un avatar physique pouvant interagir avec les humains (« humains » au sens large).
  Les lois de la magie et de la nature étaient très différentes que celles actuelles.<br>
  Un jour, les humains ont commencé à utilisé un type de magie très puissant basé sur l'Essence du feu, qu'on surnomme aujourd'hui la Destruens Magia,
  et qui avait pour conséquence à long terme une destruction de la nature et une pollution de l'air et de l'eau, ainsi qu'une augmentation de la température globale.
  Tandis que les forêts disparaissaient, que l'eau des océans devenait de plus en plus acide, l'air de moins en moins respirable dans certaines régions, notamment les villes,
  et qu'ils faisait de plus en plus chaud, les essence de la nature, de l'eau et de l'air s'affaiblissaient de jour en jour,
  alors que celle du feu devenait de plus en plus forte.<br>
  La situation a pris un tournant majeur quand l'Essence du feu a dévoré les avatars des essences de l'eau et de l'air.
  Une essence du couple Ténèbre/Lumière a alors tenté de vaincre l'Essence du feu, mais cette dernière l'a dévoré,
  puis est aller dévorer l'autre membre du couple rapidement avant que ce dernier ne prenne trop de puissance suite à la mort de son opposé.<br>
  Il ne restait donc que l'Essence de la nature, qui, trop faible pour continuer à vivre, s'est cristallisée en un artefact, la Larme de la Nature,
  ce qui a eu les même conséquences sur l'équilibre cosmique que si elle était morte.<br>
  Du côté des humains, alors que la plupart d'entre eux continuaient d'utiliser leur magie destructrice, une petite partie avait décidé de combattre cette dernière.
  C'est dans cette faction qu'une personne, qu'on a surnommé plus tard le Héro,
  a prit possession de la Larme de la Nature et s'est engagé dans une croisade contre l'Essence du feu, la Croisade de la Larme.
  Cette croisade s'est achevée par un combat entre le Héro et l'avatar de l'Essence du feu, qui s'est terminée par une déflagration titanesque suicidaire de l'avatar,
  ce qui a déclenché des déflagrations similaires dans toutes les villes et villages qui utilisaient la Destruens Magia,
  ce qui a eu pour conséquence d'effacer toute trace de ces civilisations.<br>
  Les Elfes sont les descendants des Croisés de la Larme, et le roi des elfes sylvains est le descendant du Héro.
  La recherche de la Larme de la Nature est une quête sacrée dont tous les aventuriers rêvent de réussir,
  mais, jusqu'à aujourd'hui, personne n'a pu trouver l'artefact, et ceux qui se lancent dans cette quête ne sont jamais pris vraiment au sérieux.<br>
</p>

<h3>La culture des fleurs</h3>
<p>
  Les fleurs font partie intégrante de la vie sylvaine en société.
  Elles sont utilisées comme symboles ou modèles, comme décorations directement, mais aussi comme moyen de communication.
  Les variétés, races, et couleurs des fleurs ont du sens, et c'est appris dans l'éducation sylvaine.
  [La symbolique est la même que le "monde réel", juste un peu plus poussée]<br>
  Par exemple (dans les grandes lignes), le rouge pour l'amour, le jaune pour l'amitié, le blanc pour le neutre et la vie, le noir pour la mort, et le bleu-violet en fourre-tout.<br>
  Offrir des fleurs n'a pas forcément de sens intime, il est même coutûme d'échanger des fleurs lors de rencontres
  (diner entre amis, mariage, pendaison de crémaillère, premier face à face, etc.) pour représenter le lien avec la personne.<br>
</p>
