<nav class="band band3">
    <a routerLink="/lore/history/the-elven-time" class="button" routerLinkActive="activebutton">The Elven Time</a>
    <a routerLink="/lore/history/the-elven-war" class="button" routerLinkActive="activebutton">The Elven War</a>
    <a routerLink="/lore/history/the-emergence" class="button" routerLinkActive="activebutton">The Emergence</a>
    <a routerLink="/lore/history/the-lyune-civil-war" class="button" routerLinkActive="activebutton">The Lyune Civil War</a>
    <a routerLink="/lore/history/the-dark-elves-stabilisation" class="button" routerLinkActive="activebutton">The Dark Elven Stabilisation</a>
    <a routerLink="/lore/history/the-new-war" class="button" routerLinkActive="activebutton">The New War</a>
</nav>
<router-outlet></router-outlet>
<p>history is being written</p>