<nav class="band band3">
    <a routerLink="/lore/history/the-elven-time" class="button" routerLinkActive="activebutton">{{show_text(1, langue.l)}}</a>
    <a routerLink="/lore/history/the-elven-war" class="button" routerLinkActive="activebutton">{{show_text(2, langue.l)}}</a>
    <a routerLink="/lore/history/the-emergence" class="button" routerLinkActive="activebutton">{{show_text(3, langue.l)}}</a>
    <a routerLink="/lore/history/the-lyune-civil-war" class="button" routerLinkActive="activebutton">{{show_text(4, langue.l)}}</a>
    <a routerLink="/lore/history/the-dark-elves-stabilisation" class="button" routerLinkActive="activebutton">{{show_text(5, langue.l)}}</a>
    <a routerLink="/lore/history/the-new-war" class="button" routerLinkActive="activebutton">{{show_text(6, langue.l)}}</a>
</nav>
<router-outlet></router-outlet>
<p>history is being written</p>