<h3 *ngIf="langue.l == 'fr'">Toucher</h3>
<h3 *ngIf="langue.l == 'en'">Hitting</h3>

<p *ngIf="langue.l == 'fr'">
    Attaque : <b>1d12 + stat</b> (force ou dextérité selon armes)<br/>
    Esquive : <b>1d12 + agilité</b><br/>
    Si esquive strictement plus que attaque = esquivé => aucun dégâts<br/>
    Si attaque est égale ou plus que esquive = touché => lance les dégâts<br/>
</p>
<p *ngIf="langue.l == 'en'">
    Attack : <b>1d12 + stat</b> (strength or dexterity depending on the weapon type)<br/>
    Evade : <b>1d12 + agility</b><br/>
    If the evade score is higher than the attack score, then the attack misses and the attack deals no damage.<br/>
    If the attack score is equal to or higher than the evade score, then the attack hits, and the attacker can roll for damage.<br/>
</p>

<h3 *ngIf="langue.l == 'fr'">Résultats spéciaux</h3>
<h3 *ngIf="langue.l == 'en'">Special results</h3>

<div class="div-table" *ngIf="langue.l == 'fr'">
    <table>
        <tr>
            <th>Attaque \ Défense</th>
            <td>1</td>
            <td>2-11</td>
            <td>12</td>
        </tr>
        <tr>
            <td>1</td>
            <td>- (= résultat normal selon bonus)</td>
            <td>échec automatique</td>
            <td>échec automatique + attaquant distrait<br/>
                (-2 esquive jusqu'au début de son prochain tour)</td>
        </tr>
        <tr>
            <td>2-11</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>12</td>
            <td>réussite automatique + coup critique<br/>
                (ignore résistance naturelle)</td>
            <td>réussite automatique</td>
            <td>-</td>
        </tr>
    </table>
</div>
<div class="div-table" *ngIf="langue.l == 'en'">
    <table>
        <tr>
            <th>Attack \ Defense</th>
            <td>1</td>
            <td>2-11</td>
            <td>12</td>
        </tr>
        <tr>
            <td>1</td>
            <td>- (= normal result depending on stats)</td>
            <td>automatic failure</td>
            <td>automatic failure + attacker distracted<br/>
                (-2 evade until the start of his next turn)</td>
        </tr>
        <tr>
            <td>2-11</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>12</td>
            <td>automatic success + critical hit<br/>
                (ignores natural resistance)</td>
            <td>automatic success</td>
            <td>-</td>
        </tr>
    </table>
</div>

<h3 *ngIf="langue.l == 'fr'">Continuation</h3>
<h3 *ngIf="langue.l == 'en'">Continuation</h3>

<p *ngIf="langue.l == 'fr'">
    La continuation correspond à l'opportunité d'effectuer une nouvelle attaque contre le même ennemi.<br/>
    Certaines compétences donnent une continuation selon les situations.<br/>
    La nouvelle attaque coûte 1 de moins que la précédente (min 0), et le prix peut être payé avec
    un mélange de PA, PR et fatigue.<br/>
    Pour chaque nouvelle attaque, il faut relancer les dés de toucher, d'esquive, et de dégâts.<br/>
    N'est pas limité à une fois par tour.<br/>
</p>
<p *ngIf="langue.l == 'en'">
    Continuation corresponds to the opportunity to attack again against the same enemy.<br/>
    Some skills offer a continuation depending on the situation.<br/>
    This new attack costs 1 less than the previous (min 0), and this price can be paid with
    a mix of AP, RP and fatigue.<br/>
    New rolls are needed for every additional attack (to hit, to evade, and the damages).<br/>
    Not limited to once per turn.<br/>
</p>
