<h2 *ngIf="langue.l == 'fr'">Création</h2>
<h2 *ngIf="langue.l == 'en'">Creation</h2>

<p *ngIf="langue.l == 'fr'">
    Pour manipuler un élément, un mage doit avoir de cet élément à disposition.
    Si il n'en existe pas à proximité, le mage peut en créer.<br/>
    La difficulté de créer un élément dépend du type de l'élément et de la taille invoquée.
    Un élément peut être tangible ou intangible (noté T et i respectivement).<br/>
    Les éléments tangibles sont plus difficiles à invoquer, coûtent plus d'énergie,
    mais ne demande pas la concentration pour les maintenir invoqués.<br/>
    À l'inverse, les éléments intangibles sont plus faciles à invoqués, coûtent moins d'énergie,
    mais requièrent la concentration pour maintenir l'invocation active
    (cf <a routerLink="/system/states" routerLinkActive="activebutton">état concentré</a>).<br/>
    De manière générale, <b>pour les magies intangibles la création peut être incluse dans la manipulation</b>.<br/>
    <br/>
    Quand un mage décide d'invoquer un élément, il effectue un lancé de sensitivité.
    Le résultat se place sur une échelle continue représentant la taille de l'invocation (à la discrétion du DM).<br/>
    Le mage peut, s'il le souhaite, diminuer son résultat.<br/>
    <br/>
    L'invocation de magies tangibles ou combinées ajoute un coût en énergie.
</p>
<p *ngIf="langue.l == 'en'">

</p>

<div class="div-table" *ngIf="langue.l == 'fr'">
    <table>
        <tr>
            <th>Résultat (1d12 + sensitivité)<br>
            (échelle continue)</th>
            <th>Taille</th>
            <th>Coût de base en énergie</th>
            <th>Coût de magie tangible</th>
            <th>Coût de magie combinée</th>
        </tr>
        <tr>
            <td>1 - 5</td>
            <td>doigt - main</td>
            <td>0</td>
            <td>+2</td>
            <td>+1</td>
        </tr>
        <tr>
            <td>6 - 10</td>
            <td>bras - corps</td>
            <td>+1</td>
            <td>+2</td>
            <td>+1</td>
        </tr>
        <tr>
            <td>11+</td>
            <td>groupe</td>
            <td>+2</td>
            <td>+2</td>
            <td>+1</td>
        </tr>
    </table>
</div>
<div class="div-table" *ngIf="langue.l == 'en'">
    <table>
        <tr>
            <th>Résultat (1d12 + sensitivité)</th>
            <th>Taille</th>
            <th>Coût de base</th>
            <th>Coût de magie tangible</th>
            <th>Coût de magie combinée</th>
        </tr>
        <tr>
            <td>1 - 5</td>
            <td>doigt - main</td>
            <td>0</td>
            <td>+1</td>
            <td>+1</td>
        </tr>
        <tr>
            <td>6 - 10</td>
            <td>bras - corps</td>
            <td>+1</td>
            <td>+1</td>
            <td>+1</td>
        </tr>
        <tr>
            <td>11+</td>
            <td>groupe</td>
            <td>+2</td>
            <td>+1</td>
            <td>+1</td>
        </tr>
    </table>
</div>
