<p *ngIf="langue.l == 'fr'">
    Initiative : <b>1d12 + Agilité</b> -> ordre décroissant = ordre de combat<br/>
    Chaque personne commence son tour avec sa valeur de base de points d’action (PA) et de points de réactions (PR)<br/>
    Un aventurier de base possède une <b>base de 5 PA</b> et sa <b>Dextérité / 2</b> (arrondi en haut) <b>en PR</b>.<br/>
    <b>Il est possible de dépasser ces valeurs de bases</b>,
    comme par exemple utiliser la capacité Action Surge (+4 PA), ou bien consommer 1 PA pour obtenir 1 PR additionnel.<br/>
    Pendant son tour, le personnage peut consommer ses PA pour effectuer des actions correspondantes.
    Hors de son tour, un personnage peut consommer ses PR quand il obtient une réaction.<br/>
    Les actions s’effectuent point par point.<br/>
    La plupart des action faites au contact d'un ennemi provoquent une réaction de la part de l'ennemi.
    Des exemples d'actions qui créent des réactions : invoquer de la magie, utiliser un objet, courir.
    Les actions qui ne créent pas de réactions sont : attaquer cet ennemi, marcher.<br/>
    À la fin de son propre tour, un personnage peut consommer un PA pour gagner un PR (une fois par tour).
    Au début du tour, tous les PR non utilisés sont perdus.<br/>
</p>
<p *ngIf="langue.l == 'en'">
    Initiative : 1d12 + Agility -> descending = turn order<br/>
    Each person starts their turn with their base value of action points (AP) and reaction points (RP)<br/>
    A basic adventurer has a base value of 5 AP and half their dexterity (rounded up) in RP.<br/>
    <b>It is possible to go beyond these base values</b>,
    with for example the Action Surge skill (+4 AP), or by consuming 1 AP to get 1 additional RP.<br/>
    During their turn, the character can consume their AP to do the corresponding actions (see table below).
    Outside their turn, they can use RP when they get a reaction.<br/>
    Actions are done point by point.<br/>
    Most actions done while in contact with an enemy will give this enemy a reaction.
    Examples of actions which will create reactions : invoking magic, using an item, running.
    Actions that do not create reactions are : attacks to this enemy, walking.<br/>
    At the end of their turn, a character can consume 1 AP to gain 1 RP (once per turn).
    At the beginning of their turn, all non-used RP are lost.<br/>
</p>

<div class="div-table" *ngIf="langue.l == 'fr'">
    <table>
        <tr>
            <th>Action</th>
            <th>Prix PA</th>
            <th>Prix PR</th>
        </tr>
        <tr>
            <td>parler</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>intéragir, utiliser un objet</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>se déplacer*</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>attaque arme légère</td>
            <td>2</td>
            <td>1</td>
        </tr>
        <tr>
            <td>attaque arme normale</td>
            <td>3</td>
            <td>2</td>
        </tr>
        <tr>
            <td>attaque arme lourde</td>
            <td>4</td>
            <td>3</td>
        </tr>
        <tr>
            <td>magie</td>
            <td>3-4**</td>
            <td>(2-3)**</td>
        </tr>
    </table>
</div>
<div class="div-table" *ngIf="langue.l == 'en'">
    <table>
        <tr>
            <th>Action</th>
            <th>Cost AP</th>
            <th>Cost RP</th>
        </tr>
        <tr>
            <td>talk</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>interact, use an object</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>move*</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>light attack</td>
            <td>2</td>
            <td>1</td>
        </tr>
        <tr>
            <td>medium attack</td>
            <td>3</td>
            <td>2</td>
        </tr>
        <tr>
            <td>heavy attack</td>
            <td>4</td>
            <td>3</td>
        </tr>
        <tr>
            <td>magic</td>
            <td>3-4**</td>
            <td>(2-3)**</td>
        </tr>
    </table>
</div>

<p *ngIf="langue.l == 'fr'">
    *= se déplacer peut se faire de 2 façons : marcher et courrir. Marcher permet de se déplacer de 1 case par point dépensé, et courrir 2 cases par point.<br/>
    **= selon la magie, cf <a routerLink="/system/magic/explanation" routerLinkActive="activebutton">magie</a><br/>
</p>
<p *ngIf="langue.l == 'en'">
    *= moving can be done 2 ways : walking and running. Walking allows to move 1 square per spent point, and running 2 squares per point.<br/>
    **= depending on the magic, see <a routerLink="/system/magic/explanation" routerLinkActive="activebutton">magic</a><br/>
</p>

<h3 *ngIf="langue.l == 'fr'">Préparer une action</h3>
<h3 *ngIf="langue.l == 'en'">Preparing an action</h3>

<p *ngIf="langue.l == 'fr'">
    Une action possible est de se préparer.<br/>
    Cette action coûte 1PA et permet ensuite de transférer un nombre voulu de PA en PR.
    Le joueur déclare un déclencheur qui s'ajoute à la liste des actions qui provoquent des réactions.<br/>
    À partir de ce moment, le joueur est en concentration.<br/>
    Quand la concentration est levée, le déclencheur est enlevé de la liste et les PR non utilisés sont perdu.<br/>
    Un joueur peut ainsi garder des PR d'un tour à l'autre simplement en dépensant 1PA pour rester concentré.<br/>
</p>
<p *ngIf="langue.l == 'en'">
    One possible action is to prepare.<br/>
    This action costs 1AP and allows the player to transfer any number of AP into RP.
    The player declares a trigger which is added to the list of actions that create reactions.<br/>
    At this moment, the player becomes concentrated.<br/>
    When the concentration ends, the trigger is removed and any non used RP are lost.<br/>
    This way, a player can keep RPs from one turn to another by simply spending 1AP to stay concentrated.<br/>
</p>
