<p>
    Initiative : 1d12 + Agilité -> ordre décroissant = ordre de combat<br/>
    Chaque personne commence son tour avec son maximum de points d’action (PA) et de points de réactions (PR)<br/>
    Un aventurier de base possède un maximum de 5 PA et son Habileté / 2 (arrondi en haut) en PR.<br/>
    Pendant son tour, le personnage peut consommer ses PA pour effectuer des actions correspondantes. Hors de son tour, un personnage peut consommer ses PR quand il obtient une réaction.<br/>
    Les actions s’effectuent point par point.<br/>
    Effectuer une action qui n’est pas une attaque tout en étant au contact d’un ennemi provoque une réaction (par exemple : magie, objet, courir).<br/>
    Marcher ne provoque pas de réaction.<br/>
    À la fin de son propre tour, un personnage peut consommer un PA pour gagner un PR. Au début du tour, tous les PR non utilisés sont perdus.<br/>
</p>
<div class="div-table">
    <table>
        <tr>
            <th>Action</th>
            <th>Prix PA</th>
            <th>Prix PR</th>
        </tr>
        <tr>
            <td>parler</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>relâcher une action préparée</td>
            <td>-</td>
            <td>1</td>
        </tr>
        <tr>
            <td>se déplacer*, intéragir, utiliser un objet</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>attaque arme légère</td>
            <td>2</td>
            <td>1</td>
        </tr>
        <tr>
            <td>attaque arme normale</td>
            <td>3</td>
            <td>2</td>
        </tr>
        <tr>
            <td>attaque arme lourde</td>
            <td>4</td>
            <td>3</td>
        </tr>
        <tr>
            <td>magie</td>
            <td>4</td>
            <td>-</td>
        </tr>
    </table>
</div>
*= se déplacer peut se faire de 2 façons : marcher et courrir. Marcher permet de se déplacer de 1 case par point dépensé, et courrir 2 cases par point.<br/>
<h3>Préparer une action</h3>
<p>
    Pour préparer une action, il faut posséder les PA pour faire l’action normalement, annoncer au DM l’action prévue ainsi que le déclenchement (trigger).
    Le trigger annoncé est ajouté aux autres actions qui déclanche des réactions jusqu'à ce que l'action soit relâchée. Quand le personnage reçoit une réaction (trigger ou réaction normale), le joueur décide de lancer l’action ou non. L'action reste préparée tant qu'elle n'est pas relâchée ou annulée. Une seule action peut être préparée, une fois une action préparée, le personnage est concentré (cf états) jusqu’au relâchement.<br/>
    Un personnage peut rester en concentration d’une action préparée sur plusieurs tour, mais doit consommer 1 PA à chaque tour pour garder sa concentration et est limité dans ses actions (cf états).<br/>
</p>
