
<button class="skill-button {{skill_colour}}" (click)="this.show_that_skill = !this.show_that_skill">

  <div>
    <span class="skill-type" *ngIf="header == 'false'">{{ skill_type }}</span>
    <span *ngIf="header == 'true'"><br></span>
  </div>
  <div style="margin-top: 7px;">
    <span [ngClass]="{'header ': header == 'true', 'skill-name': header == 'false'}">
      {{ skill_name }}
    </span>
  </div>
  <div style="margin-top: 7px;">
    <span *ngIf="header == 'false'">
      <span><i class="fa-solid fa-star"></i></span>
      <span *ngIf="this.skill_levels == '3' || this.skill_levels == '2'"><i class="fa-solid fa-star"></i></span>
      <span *ngIf="this.skill_levels == '3'"><i class="fa-solid fa-star"></i></span>
    </span>
    <span *ngIf="header == 'true'"><br></span>
  </div>

  <span class="hovertext" *ngIf="!show_that_skill">{{ this.hovertext(skill_category, skill_name) }}</span>
  <span class="popuptext" *ngIf="show_that_skill">{{ this.details(skill_category, skill_name) }}</span>
</button>
