
<h2>Concentré</h2>
<p>
	Source : préparer une action, garder un sort actif<br/>
	Effets : pas d’actions possibles autre que marcher<br/>
    Coute 1 PA par tour pour rester concentré.<br/>
	Effets spéciaux : selon compétences<br/>
</p>

<h2>Blessé</h2>
<p>
    Source : Douleur à 4 ou plus<br/>
    Effets : Au début de son tour, lance dé de valeur correspondante. (cf jauges)<br/>
    Si résultat + intensité des casses > résistance, alors les points d’action sont divisés par 2 pour ce tour (arrondi bas)<br/>
    Douleur : 1  2  3 <span style="color:rgb(220, 220, 0)"> 4  5 </span><span style="color:rgb(230, 149, 0)"> 6  7 </span><span style="color:orangered"> 8  9</span><br/>
    Dé : 0, <span style="color:rgb(220, 220, 0)">d4</span>, <span style="color:rgb(230, 149, 0)">d6</span>, <span style="color:orangered">d8</span><br/>
</p>

<h2>Fatigué</h2>
<p>
	Source : Fatigue à 4 ou plus<br/>
	Effets : Malus aux jets selon la fatigue. (cf jauges)<br/>
</p>

<h2>Inconscient</h2>
<p>
	Source : Fatigue à 10 ou Douleur à 10 (ou autre)<br/>
	Effets : tombe par terre, perd connaissance, perd concentration.<br/>
	Effets spéciaux :<br/>
    Si Douleur à 10, dure 1 minute<br/>
    Si Fatigue à 10, dure 1 heure<br/>
    Peut être réveillé à la moitié du temps par un input externe<br/>
</p>