
<h3 *ngIf="langue.l == 'fr'">Types de concentrations</h3>
<h3 *ngIf="langue.l == 'en'">Types of concentrations</h3>

<p *ngIf="langue.l == 'fr'">
    Il existe 3 types majeurs de concentrations : une concentration sur un sort actif (nécessite la compétence en magie correspondante),
    une concentration sur le contrôle d'un élément inerte (disponible à tout personnage possédant au moins une magie quelconque),
    et les autres concentrations (par exemple pour préparer une attaque, ou bien pour garder une compétence active).
    Les deux premiers types sont des concentrations magiques, le dernier type correspond aux concentrations physiques.<br/>
    Chaque concentration (quel que soit son type) nécessite de dépenser 1 PA au début de chaque tour du personnage pour rester active.
    Si la concentration commence après le début du tour, alors le premier coût commencera au tour prochain.<br/>
    En plus du coût en PA, garder des concentrations actives est fatiguant et coûte des points d'énergie selon le niveau de chaque concentration.
    Le niveau d'une concentration est déterminé par la chose sur laquelle le personnage est concentré :<br/>
    - Pour les concentration de sorts actifs, le niveau de la concentration est le même que le niveau du sort.<br/>
    - Pour les concentrations de contrôle d'élément, le niveau de la concentration dépend de la taille et de la tangibilité de l'élément (cf tableau si dessous).<br/>
    - Pour les concentrations physiques, c'est niveau 1 par défaut (sauf si précisé dans la compétence).<br/>
    Il est possible de garder plusieurs concentrations à la fois, et leurs coûts se cumulent.
    En revanche il existe des limites du nombre de concentrations magiques cumulables :<br/>
    Chaque élément est compté indépendemment des autres éléments.
    Pour chaque élément, le niveau maximum des concentrations est égal à la spécialisation de l'individu dans cet élément,
    et le nombre de concentration est égal à sa spécialisation divisé par 2 (arrondi haut).<br/>
    Par exemple : Un mage ayant 3 de spécialisation en illusion, 2 en eau et 0 en ténèbre.
    Il peut avoir jusqu'à 2 concentrations de niveau inférieur ou égal à 3 en illusion, et 1 concentration de niveau inférieur ou égal à 2 en eau.
    Il ne peut pas avoir de concentrations de ténèbres, ni excéder ces limitations par élément.<br/>
    <br/>
    Les concentrations magiques d'éléments différents n'ont pas d'impact entre elles.
    Chaque élément possède ses propres valeurs et compteurs de concentrations qui ne se superposent pas <br/>
    Les concentrations physiques n'ont pas d'impact sur les concentrations magiques et peuvent être accumulées sans limite.<br/>
</p>
<p *ngIf="langue.l == 'en'">
    <br/>
</p>


<p>
    <button class="button bullet-button" (click)="show_text_1()">
        <div *ngIf="show1">v</div>
        <div *ngIf="!show1">></div>
    </button>
    Contrôle sur un sort
</p>
<div class="divshow" *ngIf="show1">
    <div class="div-table" *ngIf="langue.l == 'fr'">
        <table>
            <tr>
                <th>Puissance du sort</th>
                <th>Niveau du sort</th>
                <th>Coût du sort</th>
                <th>Coût de la concentration</th>
            </tr>
            <tr>
                <td>0-4</td>
                <td>0</td>
                <td>0</td>
                <td>Être conscient</td>
            </tr>
            <tr>
                <td>5-9</td>
                <td>1</td>
                <td>1</td>
                <td>1 / minute (= 10 tours)</td>
            </tr>
            <tr>
                <td>10-14</td>
                <td>2</td>
                <td>2</td>
                <td>1 / 5 tours</td>
            </tr>
            <tr>
                <td>15-19</td>
                <td>3</td>
                <td>3</td>
                <td>1 / 2 tours</td>
            </tr>
            <tr>
                <td>20-24</td>
                <td>4</td>
                <td>4</td>
                <td>1 / tour</td>
            </tr>
            <tr>
                <td>25-29</td>
                <td>5</td>
                <td>5</td>
                <td>1 / tour</td>
            </tr>
        </table>
    </div>
    <div class="div-table" *ngIf="langue.l == 'en'">
        <table>
            <tr>
                <th>Puissance du sort</th>
                <th>Niveau du sort</th>
                <th>Coût du sort</th>
                <th>Coût de la concentration</th>
            </tr>
            <tr>
                <td>0-4</td>
                <td>0</td>
                <td>0</td>
                <td>Être conscient</td>
            </tr>
            <tr>
                <td>5-9</td>
                <td>1</td>
                <td>1</td>
                <td>1 / minute (= 10 tours)</td>
            </tr>
            <tr>
                <td>10-14</td>
                <td>2</td>
                <td>2</td>
                <td>1 / 5 tours</td>
            </tr>
            <tr>
                <td>15-19</td>
                <td>3</td>
                <td>3</td>
                <td>1 / 2 tours</td>
            </tr>
            <tr>
                <td>20-24</td>
                <td>4</td>
                <td>4</td>
                <td>1 / tour</td>
            </tr>
            <tr>
                <td>25-29</td>
                <td>5</td>
                <td>5</td>
                <td>1 / tour</td>
            </tr>
        </table>
    </div>
</div>

<p>
    <button class="button bullet-button" (click)="show_text_2()">
        <div *ngIf="show2">v</div>
        <div *ngIf="!show2">></div>
    </button>
    Contrôle sur un élément
</p>
<div class="divshow" *ngIf="show2">
    Niveaux de concentration sur le contrôle d'un élément selon sa taille et sa tangibilité
    <div class="div-table" *ngIf="langue.l == 'fr'">
        <table>
            <tr>
                <th>Taille de l'élément</th>
                <th>Tangible</th>
                <th>intangible</th>
            </tr>
            <tr>
                <td>1</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>2</td>
                <td>0</td>
                <td>1</td>
            </tr>
            <tr>
                <td>3</td>
                <td>0</td>
                <td>1</td>
            </tr>
            <tr>
                <td>4</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>5</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>6</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>7</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>8</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>9</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>10+</td>
                <td>4</td>
                <td>5</td>
            </tr>
        </table>
    </div>
    <div class="div-table" *ngIf="langue.l == 'en'">
        <table>
            <tr>
                <th>Taille de l'élément</th>
                <th>Tangible</th>
                <th>intangible</th>
            </tr>
            <tr>
                <td>1</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>2</td>
                <td>0</td>
                <td>1</td>
            </tr>
            <tr>
                <td>3</td>
                <td>0</td>
                <td>1</td>
            </tr>
            <tr>
                <td>4</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>5</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>6</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>7</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>8</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>9</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>10+</td>
                <td>4</td>
                <td>5</td>
            </tr>
        </table>
    </div>

</div>



<p>
    <button class="button bullet-button" (click)="show_text_3()">
        <div *ngIf="show3">v</div>
        <div *ngIf="!show3">></div>
    </button>
    Garder ses PR d'un tour à l'autre<br/>
    <span class="divshow" *ngIf="show3">
        cf <a routerLink="/system/combat" routerLinkActive="activebutton">préparer une action</a>
    </span>
</p>

<p>
    <button class="button bullet-button" (click)="show_text_4()">
        <div *ngIf="show4">v</div>
        <div *ngIf="!show4">></div>
    </button>
    Garder une compétence active<br/>
    <span class="divshow" *ngIf="show4">
        cf <a routerLink="/character/skills/attack" routerLinkActive="activebutton">compétences</a> comme Viser
    </span>

</p>
