<p>
    Magie élémentaire /vs/ Magie runique<br/>
    <br/>
    Magie élémentaire = magie naturelle, innée, faisable sans entraînement ni apprentissage, vient de l'intérieur de soi pour manipuler les éléments à l'extérieur.<br/>
    L’apprentissage aide à se concentrer, mais l’affinité reste un facteur important<br/>
    Effets limités à des éléments.<br/>
    Utilisation limitée par la fatigue et l'entraînement.<br/>
    <br/>
    Magie runique = magie basée sur l'écriture de runes sur un support, nécessite d'avoir appris à écrire les runes, lire, grammaire.<br/>
    Effets libres à tout ce que tu peux écrire.<br/>
    Utilisation limitée par l'écriture et la connaissance.<br/>
</p>
