<nav class="band band2">
    <a routerLink="/lore/history" class="button" routerLinkActive="activebutton">{{show_text(1, langue.l)}}</a>
    <a routerLink="/lore/religion" class="button" routerLinkActive="activebutton">{{show_text(2, langue.l)}}</a>
    <a routerLink="/lore/races" class="button" routerLinkActive="activebutton">{{show_text(3, langue.l)}}</a>
    <a routerLink="/lore/magic" class="button" routerLinkActive="activebutton">{{show_text(4, langue.l)}}</a>
    <a routerLink="/lore/geography" class="button" routerLinkActive="activebutton">{{show_text(5, langue.l)}}</a>
    <a routerLink="/lore/citadelle" class="button" routerLinkActive="activebutton">{{show_text(6, langue.l)}}</a>
</nav>
<router-outlet></router-outlet>