<nav class="band band2">
    <a routerLink="/lore/history" class="button" routerLinkActive="activebutton">History</a>
    <a routerLink="/lore/religion" class="button" routerLinkActive="activebutton">Religion</a>
    <a routerLink="/lore/races" class="button" routerLinkActive="activebutton">Races</a>
    <a routerLink="/lore/magic" class="button" routerLinkActive="activebutton">Magic</a>
    <a routerLink="/lore/geography" class="button" routerLinkActive="activebutton">Geography</a>
    <a routerLink="/lore/citadelle" class="button" routerLinkActive="activebutton">Citadelle</a>
</nav>
<router-outlet></router-outlet>