@import '../skills.component.css';

.div-skills img {
    width: 75%;
    height: auto;
}

.div-skills .top {
  top:4.7%;
}
.div-skills .middle {
  top:40.3%;
}
.div-skills .bot {
  top:75.9%;
}

.div-skills .xleft {
    left:21.7%;
}
.div-skills .left {
    left:35.35%;
}
.div-skills .center {
    left:49.0%;
}
.div-skills .right {
    left:62.65%;
}
.div-skills .xright {
    left:76.3%;
}

.div-skills .button-skills {
    height: 11.8%;
    width: 10.85%;
}
