
<div class="div-skills">
    <img style="vertical-align: middle;" src="../../../assets/images/skill_trees/skill_tree_5_attack.png"/>
    <button class="button-skills top left">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills top right">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills middle xleft">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills middle left">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills middle center">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills middle right">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills middle xright">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills bot xleft">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills bot lcenter">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills bot rcenter">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills bot xright">
        <span class="hovertext">
            
        </span>
    </button>

</div>
