<br/>
<div class="div-skills">
    <img style="vertical-align: middle;" src="../../../assets/images/skill_trees/skill_tree_attack.png"/>
    <button class="button-skills top left">
        <span class="hovertext" *ngIf="langue.l == 'fr'">
            Être capable d'utiliser des armes de distance en combat.
        </span>
        <span class="hovertext" *ngIf="langue.l == 'en'">
            Be able to use ranged weapons in combat.
        </span>
    </button>
    <button class="button-skills top right">
        <span class="hovertext">
            Être capable d'utiliser des armes de mêlée en combat.
        </span>
    </button>
    <button class="button-skills middle xleft">
        <span class="hovertext">
            Utiliser des PA pour augmenter ses chances de toucher.<br/><br/>
            Consommer entre 1, 2 ou 3 PA (une fois par tour) pour obtenir +1, +2 ou +3 (respectivement) au toucher pour la prochaine attaque à distance.<br/>
            Demande concentration.
        </span>
    </button>
    <button class="button-skills middle left">
        <span class="hovertext">
            Attaquer un ennemi le distrait.<br/><br/>
            Attaquer un ennemi, si l'attaque touche, qu'elle fasse de dégât ou pas, alors l'ennemi est distrait jusqu'à son prochain tour.<br/>
            Un ennemi distrait a -1 à l'esquive.
        </span>
    </button>
    <button class="button-skills middle center">
        <span class="hovertext">
            Analyser les mouvements d'un ennemi pour le toucher plus facilement.<br/><br/>
            Consomme 1 PA (une fois par tour) pour analyser une créature et gagner +1 au toucher pour toutes les prochaines attaques sur cette créature. Cummulable.<br/>
            Si le +3 au toucher est atteint, un +1 au dégât est ajouté. Un +5 au toucher donne un +2 aux dégâts, etc.<br/>
            Demande concentration.<br/>
        </span>
    </button>
    <button class="button-skills middle right">
        <span class="hovertext">
            Être capable de manipuler une arme dans chaque main en combat.<br/><br/>
            La deuxième arme doit être une arme légère.<br/>
            Lors d'une attaque avec son arme principale, consomme 1 PA additionnel ou 2 points de fatigue pour faire une attaque additionnelle avec sa deuxième arme.
        </span>
    </button>
    <button class="button-skills middle xright">
        <span class="hovertext">
            Réagir pour essayer de parer une attaque.<br/><br/>
            Consomme 1 PR pour gagner +1 à l'esquive.<br/>
            Activable quand l'attaque est annoncée mais avant que le toucher soit lancé.
        </span>
    </button>
    <button class="button-skills bot xleft">
        <span class="hovertext">
            Avoir plus de chance de crit.<br/><br/>
            Si le résultat du jet d'attaque est supérieur au résultat d'esquive de 5 ou plus, l'attaque est un crit (ignore résistance naturelle).
        </span>
    </button>
    <button class="button-skills bot left">
        <span class="hovertext">
            Ne provoque plus de réaction de la part d'un ennemi occupé.<br/><br/>
            Un ennemi est occupé si un allié est au contact de cet ennemi et l'un a attaqué l'autre au tour dernier.<br/>
            Un ennemi occupé n'obtient pas de réaction de la part des actions du personnage avec cette compétence.<br/><br/>
            De plus, le personnage gagne un +1 au toucher contre les ennemis occupés.
        </span>
    </button>
    <button class="button-skills bot center">
        <span class="hovertext">
            Sa présence influe sur les ennemis.<br/><br/>
            Bonus - Au début de chaque combat, faire une choix entre Présence Imposante et Présence Discrète
            (il faut être visible des ennemis pour utiliser Présence Imposante).<br/>
            Présence Imposante impose un -1 au toucher à tous les ennemis voulant attaquer quelqu'un d'autre que la personne avec Présence Imposante.<br/>
            Présence Discrète impose un -2 au toucher à tous les ennemis voulant attaquer la personne avec Présence Discrète.<br/><br/>
            Action - Une fois par tour, peut consommer 1 PA pour donner Inspiration à un allié (+1 au toucher pour le prochain tour).
        </span>
    </button>
    <button class="button-skills bot right">
        <span class="hovertext">
            Gagne des PA.<br/><br/>
            Une fois par jour, peut prendre 2 points de fatigue pour gagner 4 PA pour un tour.
        </span>
    </button>
    <button class="button-skills bot xright">
        <span class="hovertext">
            Contre-attaquer sur une esquive réussie.<br/><br/>
            Effectuer une attaque en réaction (prix indiqué dans la table système > combat). Activable seulement après avoir esquivé une attaque.<br/>
            Consomme 1 PR de moins si l'attaque a été parée.
        </span>
    </button>
</div>
