@import '../skills.component.css';

.div-skills img {
    width: 70%;
    height: auto;
}

.div-skills .xtop {
    top:1.8%;
}
.div-skills .top {
    top:29.2%;
}
.div-skills .middle {
    top:56.4%;
}
.div-skills .bot {
    top:83.6%;
}

.div-skills .xleft {
    left:22.55%;
}
.div-skills .left {
    left:35.1%;
}
.div-skills .center {
    left:47.6%;
}
.div-skills .right {
    left:60.15%;
}
.div-skills .xright {
    left:72.7%;
}

.div-skills .button-skills {
    height: 9.1%;
    width: 10.0%;
}
