<nav class="band band3">
    <a routerLink="/system/magic/creation" class="button" routerLinkActive="activebutton">{{show_text(1, langue.l)}}</a>
    <a routerLink="/system/magic/manipulation" class="button" routerLinkActive="activebutton">{{show_text(2, langue.l)}}</a>
    <a routerLink="/system/magic/ballparks" class="button" routerLinkActive="activebutton">{{show_text(3, langue.l)}}</a>
    <a routerLink="/system/magic/group" class="button" routerLinkActive="activebutton">{{show_text(4, langue.l)}}</a>
</nav>
<router-outlet></router-outlet>
