<br/>
<img class="image-schema" src="../../../assets/images/elements_new_transp.png"/>

<p style="margin-right: 40%;" *ngIf="langue.l == 'fr'">
    Chaque humain a une certaine affité à une magie pure,
    qui sera appellée sa magie majeure, ou plus simplement sa "majeure".
    Certains possèdent une affinité additionnelle envers une autre magie pure,
    qui en devient leur magie mineure, ou simplement "mineure".<br/>
    Quand une personne possède une majeure et une mineure,
    il "débloque" la magie combinée correspondante, selon le diagramme ci-contre.<br/>
    La deuxième affinité arrive plus tard dans la vie de la personne,
    et n'est pas révélée à tout le monde.
    La plupart des grands mages possèdent deux magies pures, mais rien n'empêche l'un d'arriver sans l'autre.<br/>
    <br/>
    Un personnage dans Destalyr va commencer son aventure avec 2 points de spécialisation<br/>
    à distribuer sur ses magies, sachant que sa mineure ne peut pas avoir plus de points que sa majeure.
    
</p>
<p style="margin-right: 40%;" *ngIf="langue.l == 'en'">

</p>