<p>
    Pour faire une magie de groupe, il faut :<br/>
    -  Deux ou plus mages volontaires, de la même magie<br/>
    - Chaque mage lance ses propres dés<br/>
    - Les dés sont ensuite mis en commun<br/>
    - Le nombre de dés utilisables pour le sort est le nombre max de dés de chaque mage (tous dés confondus (d4 et d6))<br/>
    - La fatigue entraînée par le sort est appliquée à chaque mage ayant participé<br/>
    - La concentration de tous les pages participant est nécessaire pour garder l'invocation.<br/>
    <br/>
    Exemple :<br/>
    Mage A, B et C ont tous la magie d'eau.<br/>
    A et B ont une idée stupide de faire la plus grande tour d'eau possible. C trouve ça stupide. Il n'est pas volontaire. A et B arrivent à convaincre C, et C devient volontaire (même si avec une volonté minime).<br/>
    Les sensitivités magiques de A, B et C sont (resp) 3, 4 et 6.<br/>
    Ils lancent leurs dés :<br/>
    A : 4-1-2-2 (4d4)<br/>
    B : 2-4-4-1 (4d4)<br/>
    C : 1-3-3-1-3 (4d4 + 1d6 donc 5 dés)<br/>
    Résultats : ils ont droit de prendre 5 dés parmi tous les dés lancés.<br/>
    E2-P2-T8-D2 ; Total : 14<br/>
    Les trois mages prennent 1 de fatigue chacun, même si les dés de C n'ont techniquement pas été utilisés.<br/>
    C râle et dit qu'il n'a servi à rien et qu'il a quand même pris un point de fatigue. A et B expliquent que sans lui, ils n'auraient pas pu avoir le 8 en taille.<br/>
    C se casse et lâche sa concentration, faisant tomber la tour d'eau sur A et B.<br/>

</p>
