<nav class="band band2">
    <a routerLink="/character/creation" class="button" routerLinkActive="activebutton">{{show_text(1, langue.l)}}</a>
    <a routerLink="/character/magic" class="button" routerLinkActive="activebutton">{{show_text(2, langue.l)}}</a>
    <a routerLink="/character/stats" class="button" routerLinkActive="activebutton">{{show_text(3, langue.l)}}</a>
    <a routerLink="/character/skills" class="button" routerLinkActive="activebutton">{{show_text(4, langue.l)}}</a>
    <a routerLink="/character/knowledge" class="button" routerLinkActive="activebutton">{{show_text(5, langue.l)}}</a>
</nav>
<router-outlet></router-outlet>