<h3 *ngIf="langue.l == 'fr'">Dégâts</h3>
<h3 *ngIf="langue.l == 'en'">Damages</h3>

<p *ngIf="langue.l == 'fr'">
    Attaquant : <b>1dx</b> (selon arme) <b>+ stat</b> (force ou dex)<br/>
    Défense : <b>res + armure</b> (fixe)<br/>
    Dégâts de l'attaque - défense = dégâts en points de douleur (min 0, si 0 alors pas de blessure)<br/>
    <br/>
    Blessure laissée dépend du type de dégâts de l'arme :<br/>
    Tranchant/Perçant = coupure<br/>
    Contondant = casse<br/>
    <br/>
    Les coupures causent un saignement, qui provoque une perte de sang, qui à son tour peut entraîner la mort de la victime.<br/>
    Les casses peuvent empêcher la victime d'agir (cf <a routerLink="/system/states" routerLinkActive="activebutton">état blessé</a>).<br/>
    <br/>
    Dégâts -1 = intensité de la blessure laissée (coupure ou casse)<br/>
    L'échelle des intensités commence à 0.<br/>
    0 : égratinure - ecchymose (bleu)<br/>
    1 : petite coupure - gros ecchymose<br/>
    2 : coupure moyenne - os fracturé<br/>
    3 : grosse coupure - os cassé<br/>
    4 : très grosse coupure - os très cassé<br/>
    5 : membre coupé - tous les os du membre cassés<br/>
</p>
<p *ngIf="langue.l == 'en'">
    Attacker : <b>1dx</b> (depending on the weapon) <b>+ stat</b> (str or dex)<br/>
    Defense : <b>res + armor</b> (fixed)<br/>
    Attack damage - defense score = damage in pain points (min 0, if 0 then no wounds)<br/>
    <br/>
    Wound depends on the weapon damage type :<br/>
    Slashing / piercing = cut<br/>
    Bludgeoning = break<br/>
    <br/>
    Cuts cause bleeding, which can result in blood loss and in time, death.<br/>
    Breaks can prevent the victim from acting (see <a routerLink="/system/states" routerLinkActive="activebutton">wounded state</a>).<br/>
    <br/>
    Damage -1 = wound intensity (cut or break)<br/>
    The scale of the intensities start at 0.<br/>
    0 : scratch - bruise<br/>
    1 : small cut - big bruise<br/>
    2 : medium cut - fractured bone<br/>
    3 : big cut - broken bone<br/>
    4 : very big cut - very broken bone<br/>
    5 : limb cut off - all bones broken in the limb<br/>
</p>
