<p *ngIf="langue.l == 'fr'">
    Tout sort lancé possède 4 caractéristiques :<br/>
    Taille - Distance - Efficacité - Précision<br/>
    <br/>
    Par défaut : lancer 4d4<br/>
    Coûte 1 point de fatigue pour lancer les dés<br/>
    Choisit dans quelle catégorie va chaque dé<br/>
    Ne peut pas "couper" de dé<br/>
    Min 1 dé dans chaque carac pour que le sort fonctionne<br/>
    Pas obligé d'utiliser tous les dés<br/>
    Ajoute les résultats des dés dans la même carac, 1+1 = même résultat que 2<br/>
</p>
<p *ngIf="langue.l == 'en'">

</p>

<h3 *ngIf="langue.l == 'fr'">Bonus de dés</h3>
<h3 *ngIf="langue.l == 'en'">Bonus dice</h3>

<p *ngIf="langue.l == 'fr'">
    Si entouré de l'élément, +(1-3)d4 selon la quantité de l'éléménet présent.<br/>
    +1 à poser au choix (à chaque sort) dans une catégorie pour magie majeure et combinée.<br/>
    Spécialisation (optionel) > +2 sur majeure / +0 sur combinée si spec dans majeure<br/>
    <br/>
    Détail : Ne peut pas ajouter le +1 sur une carac sans dé. Il faut au moins un dé dans chaque caractéristique.<br/>
    <br/>
    Sensitivité à 5 : lance 1d4 en plus (total : 5d4)<br/>
    Sensitivité à 6 : lance 1d6 en plus (total 4d4 + 1d6)<br/>
    <br/>
    Puissance = somme de tous les dés utilisés (sans compter les +1 de magie primaire ou autres bonus/malus)<br/>
    La puissance d'un sort détermine son "niveau".<br/>
    Si le sort est purement visuel et qu'aucun dé n'a été lancé, il est de niveau 0, et ne coûte pas d'énergie.<br/>
    Si le sort a une puissance de 9 ou moins, il est de niveau 1, et ne coûte pas plus d'énergie que de lancer les dés (1 point).<br/>
    Si le sort a une puissance entre 10 et 14 inclus, il est de niveau 2, et coûte 1 point d'énergie aditionnel (2 points au total).<br/>
    Si le sort a une puissance entre 15 et 19 inclus, il est de niveau 3, et coûte 2 point d'énergie aditionnel (3 points au total).<br/>
    Ainsi, chaque niveau de sort correspond à une fourchette de 5 de puissance et coûte de plus en plus cher à lancer.<br/>
</p>
<p *ngIf="langue.l == 'en'">

</p>

<h3 *ngIf="langue.l == 'fr'">Attaque</h3>
<h3 *ngIf="langue.l == 'en'">Attack</h3>

<p *ngIf="langue.l == 'fr'">
    Toucher : 1d12 + (précision x2) contre esquive<br/>
    Dégâts : efficacité x (taille/2) - résistance (naturelle, sans armure) (arrondi en dessous)<br/>
    (tant que taille couvre la cible, si taille est plus grande que cible, taille = cible (cf ordres de grandeurs))<br/>
</p>
<p *ngIf="langue.l == 'en'">

</p>