<p *ngIf="langue.l == 'fr'">
    Tout sort lancé possède 4 caractéristiques :<br/>
    Taille - Distance - Efficacité - Précision<br/>
    <br/>
    Par défaut : lancer <b>4d4</b><br/>
    Coûte 1 point de fatigue pour lancer les dés<br/>
    Choisit dans quelle catégorie va chaque dé<br/>
    Ne peut pas "couper" de dé<br/>
    Min 1 dans chaque carac pour que le sort fonctionne<br/>
    Pas obligé d'utiliser tous les dés<br/>
    Ajoute les résultats des dés dans la même carac, 1+1 = même résultat que 2<br/>
</p>
<p *ngIf="langue.l == 'en'">

</p>

<h3 *ngIf="langue.l == 'fr'">Bonus de dés</h3>
<h3 *ngIf="langue.l == 'en'">Bonus dice</h3>

<p *ngIf="langue.l == 'fr'">
    La spécialisation d'une magie correspond à un nombre donné représentant l'entraînement et la force de l'affinité que la personne a avec cette magie.<br/>
    Un personnage commence avec un +1 dans sa magie majeure, un +1 dans sa combinée et un +0 dans sa mineure.<br/>
    Il est possible de décider de transférer sa spécialisation de sa majeure vers sa combinée, ou vice versa. Auquel cas il y aura un +2 et un +0.<br/>
    Cette spécialisation permet une amélioration des sorts lancés de cette magie.<br/>
    À chaque lancé de sort, après avoir réparti les dés et avoir calculé la puissance du sort,
    un mage peut ajouter sa spécialisation sur une des caractéristiques du sort.
    Si c'est un +2, à considérer comme deux +1 indépendants cummulables.<br/>
    <br/>
    Détail : Si une caractéristique n'a pas de dé ou est à 0, le sort ne marche pas. De plus, il est impossible d'ajouter un +1 sur une caractéristique sans dé.<br/>
    <br/>
    Un mage lance un nombre de d4 égal à sa sensitivité (min 4).<br/>
    <br/>
    Puissance = somme de tous les dés utilisés (sans compter les +1 de magie primaire ou autres bonus/malus)<br/>
    La puissance d'un sort détermine son "niveau".<br/>
    Si le sort est purement visuel (équivalent de puissance 4) et qu'aucun dé n'a été lancé, il est de niveau 0, et ne coûte pas d'énergie.<br/>
    Si le sort a une puissance entre 5 et 9, il est de niveau 1, et ne coûte pas plus d'énergie que de lancer les dés (1 point).<br/>
    Si le sort a une puissance entre 10 et 14 inclus, il est de niveau 2, et coûte 1 point d'énergie aditionnel (2 points au total).<br/>
    Si le sort a une puissance entre 15 et 19 inclus, il est de niveau 3, et coûte 2 point d'énergie aditionnel (3 points au total).<br/>
    Les niveaux de sorts continuent à suivre la puissance du sort par fourchette de 5 et coûtent de plus en plus cher, suivant les règles déjà établies.<br/>
</p>
<p *ngIf="langue.l == 'en'">

</p>

<h3 *ngIf="langue.l == 'fr'">Attaque</h3>
<h3 *ngIf="langue.l == 'en'">Attack</h3>

<p *ngIf="langue.l == 'fr'">
    Toucher : <b>1d12 + (précision x2)</b> contre esquive*<br/>
    Dégâts : <b>efficacité + taille</b> - résistance** (naturelle, sans armure)<br/>
    Pour ce calcul, on considère que la valeur de la taille est majorée par la taille de la cible.
    Par exemple : Une personne fait face à un humain et un renard.
    La personne lance un sort possèdant 3 en efficacité, et 5 en taille.
    Le 5 en taille permet de cibler un groupe, donc le sort affectera l'humain cible et le renard cible.
    À cause de leur différence de taille, l'humain prendra 3+4 dégâts bruts, et le renard 3+3.
    Grâce à leurs résistances respectives, l'humain subira 3+4-2 de douleur, et le renard 3+3-1.
    Le renard tombe inconscient et l'humain n'est que blessé.
    (cf <a routerLink="/system/magic/ballparks" routerLinkActive="activebutton">ordres de grandeurs</a>)
    <br/>
    * = Après avoir reçu le résultat de l'attaque (si ça touche ou pas), le mage peut prendre 1 point de fatigue pour relancer son jet
    et forcer l'ennemi à relancer le sien.
    Il peut faire ça un nombre de fois égal à sa spécialisation/2 par tour.<br/>
    ** = La plupart des magies auront des conséquences physiques, et donc sont opposées à la résistances d'une personne.
    Certaines magies (esprit, âme et purification) sont plus abstraites et attaque une créature plus psychologiquement que physiquement.
    Dans ces cas là, la magie va s'opposer à la sensitivité de la cible et non sa résistance.<br/>
</p>
<p *ngIf="langue.l == 'en'">

</p>