<nav class="band band3">
    <a routerLink="/lore/races/flyhn" class="button" routerLinkActive="activebutton">Flyhn</a>
    <a routerLink="/lore/races/nekali" class="button" routerLinkActive="activebutton">Nekali</a>
    <a routerLink="/lore/races/wood-elf" class="button" routerLinkActive="activebutton">{{show_text(1, langue.l)}}</a>
    <a routerLink="/lore/races/dark-elf" class="button" routerLinkActive="activebutton">{{show_text(2, langue.l)}}</a>
    <a routerLink="/lore/races/etrek" class="button" routerLinkActive="activebutton">Etrek</a>
    <a routerLink="/lore/races/lyune" class="button" routerLinkActive="activebutton">Lyune</a>
</nav>
<router-outlet></router-outlet>
