@import '../skills.component.css';

.div-skills img {
    width: 42%;
    height: auto;
}

.div-skills .xtop {
  top:3.42%;
}
.div-skills .top {
  top:30.53%;
}
.div-skills .middle {
  top:57.7%;
}
.div-skills .bot {
  top:84.76%;
}

.div-skills .xleft {
  left:18%;
}
.div-skills .left {
  left:36.4%;
}
.div-skills .center {
  left:49.99%;
}
.div-skills .right {
  left:63.6%;
}
.div-skills .xright {
  left:83%;
}

.div-skills .button-skills {
  height: 8.95%;
  width: 10.8%;
}