@import '../skills.component.css';

.div-skills img {
    width: 39%;
    height: auto;
}

.div-skills .xtop {
  top:3.25%;
}
.div-skills .top {
  top:31.8%;
}
.div-skills .middle {
  top:60.35%;
}
.div-skills .bot {
  top:88.9%;
}

.div-skills .left {
  left:35.6%;
}
.div-skills .center {
  left:48.9%;
}
.div-skills .right {
  left:62.23%;
}
.div-skills .xright {
  left:18%;
}

.div-skills .button-skills {
  height: 9.4%;
  width: 10.6%;
}