
<div class="div-skills">
    <img style="vertical-align: middle;" src="../../../assets/images/skill_trees/skill_tree_2_magick.png"/>
    <button class="button-skills center top">
        <span class="hovertext">
            Pouvoir utiliser sa magie en combat.
        </span>
    </button>
    <button class="button-skills middle left">
        <span class="hovertext">
            Empêcher un mage d'utiliser sa magie.<br/><br/>
            La réaction consomme 1 PR et permet d'essayer d'enlever un dé à un mage visible lançant un sort.<br/>
            La victime lance 1d12 + sensitivité, et le perturbant lance 1d12. Si le perturbant a une magie en commun avec le sort lancé, il peut ajouter sa sentivité au jet.
        </span>
    </button>
    <button class="button-skills middle center">
        <span class="hovertext">
            Effectuer une magie de groupe avec soi-même sur plusieurs tours.<br/><br/>
            Tour 1 : Consommer 4 PA comme pour lancer une magie normalement, garder les résultats des dés, mais la magie n'est pas déclanchée.<br/>
            Tour 2 et consécutifs : Consommer 4 PA pour relancer tous ses dés ou le nombre de dés voulus en PA. Les résultats sont ajoutés à la liste des résultats des tours précédents.<br/>
            Le mage peut lancer le sort à n'importe quel tour, y compris le premier. Il est toujours limité par son nombre de dés maximal.
        </span>
    </button>
    <button class="button-skills middle right">
        <span class="hovertext">
            Ignore tous les malus de magie liés à l'état fatigué.<br/>
        </span>
    </button>
    <button class="button-skills bot left">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills bot center">
        <span class="hovertext">
            
        </span>
    </button>
    <button class="button-skills bot right">
        <span class="hovertext">
            
        </span>
    </button>

</div>
