@import '../skills.component.css';

.div-skills img {
    width: 39%;
    height: auto;
}

.div-skills .xtop {
  top:3.55%;
}
.div-skills .top {
  top:31.8%;
}
.div-skills .middle {
  top:60.1%;
}
.div-skills .bot {
  top:88.5%;
}

.div-skills .left {
  left:35.5%;
}
.div-skills .center {
  left:48.9%;
}
.div-skills .right {
  left:62.3%;
}

.div-skills .button-skills {
  height: 9.4%;
  width: 10.7%;
}