<h3>Toucher</h3>
<p>
    Attaque : 1d12 + stat (force ou habilité selon armes)<br/>
    Esquive 1d12 + agilité<br/>
    Si esquive strictement plus que attaque = esquivé => aucun dégâts<br/>
    Si attaque est égale ou plus que esquive = touché => lance les dégâts<br/>
</p>
<h3>Résultats spéciaux</h3>
<table>
    <tr>
        <th>Attaque</th>
        <th>Défense</th>
        <th>Résultat</th>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>?</td>
    </tr>
    <tr>
        <td>1</td>
        <td>12</td>
        <td>?</td>
    </tr>
    <tr>
        <td>12</td>
        <td>1</td>
        <td>crit (dés x2)</td>
    </tr>
    <tr>
        <td>12</td>
        <td>12</td>
        <td>?</td>
    </tr>
</table>
<h3>Dégâts</h3>
<p>
    Attaquant : 1dx (selon arme) + stat (force ou habi)<br/>
    Défense : res + armure (fixe)<br/>
    Différence = dégâts en douleur (si 0 ou négatif, pas de blessure)<br/>
    <br/>
    Tranchant = douleur + saigne<br/>
    Contondant = douleur + casse<br/>
    Perçant = douleur + saigne/ou/laisse planté<br/>
    <br/>
    Dégâts -1 = intensité de la blessure laissée (coupure ou casse)<br/>
    L'échelle des intensités commence à 0
</p>