<p *ngIf="langue.l == 'fr'">
    Les connaissances d'une créature dépendent de ses expériences.<br/>
    Quelques exemples :<br/>
    - politique<br/>
    - socio-économie<br/>
    - faune et flore<br/>
    - un artisanat (tanneur, forgeron, joallier, ...)<br/>
    - un domaine de recherche (archéologie, anthropologie, runes magiques, ...)<br/>
    - un domaine moins légal (vol, mensonge, assassinat, ...)<br/>
    - <br/>
    - <br/>
    - <br/>
    [en attente d'inspiration ou de suggestions]
</p>
<p *ngIf="langue.l == 'en'">

</p>