<p style="vertical-align: middle;" *ngIf="langue.l == 'fr'">
    <img style="vertical-align: middle;" src="../../../assets/images/maps/map_precise_clean.png"/>
    (premiers drafts) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img style="vertical-align: middle;" src="../../../assets/images/maps/mapecosystem.png"/>
</p>

<p style="vertical-align: middle;" *ngIf="langue.l == 'en'">
    <img style="vertical-align: middle;" src="../../../assets/images/maps/map_precise_clean.png"/>
    (first drafts) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img style="vertical-align: middle;" src="../../../assets/images/maps/mapecosystem.png"/>
</p>