<p>
    Chaque être vivant possède une jauge de fatigue et une jauge de douleur.<br/>
    Ces deux jauges sont, en temps normal, à 0.<br/>
    Le maximum de ces jauges varie selon l'espèce de la créature et d'autres facteurs.<br/>
    En général, les humains ont un maximum de 10 sur les deux jauges.<br/>
</p>
<table>
    <tr>
        <th>Seuil</th>
        <th>Douleur</th>
        <th>Fatigue</th>
    </tr>
    <tr>
        <td>0</td>
        <td>-</td>
        <td>-</td>
    </tr>
    <tr>
        <td>4</td>
        <td>blessé (d4)</td>
        <td>fatigué (-1 magie)</td>
    </tr>
    <tr>
        <td>6</td>
        <td>blessé (d6) + 1 fatigue /30 minutes</td>
        <td>fatigué (-1 magie, -1 à tous les jets d12)</td>
    </tr>
    <tr>
        <td>8</td>
        <td>blessé (d8) + 1 fatigue /30 minutes</td>
        <td>fatigué (-2 magie, -1 à tous les jets d12 et dégâts)</td>
    </tr>
    <tr>
        <td>10</td>
        <td>inconscient* pour 1 minute</td>
        <td>inconscient* pour 1 heure</td>
    </tr>
</table>
* = quand la personne reprend conscience, sa jauge est passée à 9.<br/>
    Si la personne est réveillée avant la période indiquée, elle n'est qu'à moitié consciente.<br/>
