<p *ngIf="langue.l == 'fr'">
    Chaque être vivant possède une jauge de fatigue et une jauge de douleur.<br/>
    Ces deux jauges sont, en temps normal, à 0.<br/>
    Le maximum de ces jauges varie selon l'espèce de la créature, l'individu, et d'autres facteurs.<br/>
    En général, les humains ont un maximum de 10 sur les deux jauges.<br/>
</p>
<p *ngIf="langue.l == 'en'">
    Every living being possesses a fatigue gauge and a pain gauge.<br/>
    These two gauges are, normally, at 0.<br/>
    The maximum of these gauges varies depending on the species, the individual, as well as other factors.<br/>
    In general, humans have a maximum of 10 on both gauges.<br/>
</p>
<div class="div-table"  *ngIf="langue.l == 'fr'">
    <table>
        <tr>
            <th>Seuil</th>
            <th>Douleur</th>
            <th>Fatigue</th>
        </tr>
        <tr>
            <td>0</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>4</td>
            <td>blessé (d4) (cf <a routerLink="/system/states" routerLinkActive="activebutton">états</a>)</td>
            <td>fatigué (-1 magie)</td>
        </tr>
        <tr>
            <td>6</td>
            <td>blessé (d6) + 1 fatigue /10 minutes</td>
            <td>fatigué (-1 magie, -1 à tous les jets d12)</td>
        </tr>
        <tr>
            <td>8</td>
            <td>blessé (d8) + 2 fatigue /10 minutes</td>
            <td>fatigué (-2 magie, -1 à tous les jets d12 et dégâts)</td>
        </tr>
        <tr>
            <td>10</td>
            <td>inconscient* pour 1 minute</td>
            <td>inconscient* pour 1 heure</td>
        </tr>
    </table>
</div>

<div class="div-table"  *ngIf="langue.l == 'en'">
    <table>
        <tr>
            <th>Threshold</th>
            <th>Pain</th>
            <th>Fatigue</th>
        </tr>
        <tr>
            <td>0</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>4</td>
            <td>hurt (d4) (see <a routerLink="/system/states" routerLinkActive="activebutton">states</a>)</td>
            <td>tired (-1 magic)</td>
        </tr>
        <tr>
            <td>6</td>
            <td>hurt (d6) + 1 fatigue /10 minutes</td>
            <td>tired (-1 magic, -1 to every d12 roll)</td>
        </tr>
        <tr>
            <td>8</td>
            <td>hurt (d8) + 2 fatigue /10 minutes</td>
            <td>tired (-2 magic, -1 to every d12 roll and damages)</td>
        </tr>
        <tr>
            <td>10</td>
            <td>unconscious* for 1 minute</td>
            <td>unconscious* for 1 hour</td>
        </tr>
    </table>
</div>

<p *ngIf="langue.l == 'fr'">
    * = quand la personne reprend conscience, sa jauge est passée à 9.<br/>
    Si la personne est réveillée avant la période indiquée, elle n'est qu'à moitié consciente, peut parler et marcher mais pas grand chose d'autre.<br/>
</p>
<p *ngIf="langue.l == 'en'">
    * = when the person regains consciousness, the gauge is changed back to 9.<br/>
    If the person is woken up before the indicated period, they are only half conscious, able to talk and walk, not much else.<br/>
</p>