<nav class="band band2">
    <a routerLink="/system/weapons" class="button" routerLinkActive="activebutton">{{show_text(1, langue.l)}}</a>
    <a routerLink="/system/armors" class="button" routerLinkActive="activebutton">{{show_text(2, langue.l)}}</a>
    <a routerLink="/system/gauges" class="button" routerLinkActive="activebutton">{{show_text(3, langue.l)}}</a>
    <a routerLink="/system/attacking" class="button" routerLinkActive="activebutton">{{show_text(4, langue.l)}}</a>
    <a routerLink="/system/combat" class="button" routerLinkActive="activebutton">{{show_text(5, langue.l)}}</a>
    <a routerLink="/system/magic" class="button" routerLinkActive="activebutton">{{show_text(6, langue.l)}}</a>
    <a routerLink="/system/healing" class="button" routerLinkActive="activebutton">{{show_text(7, langue.l)}}</a>
    <a routerLink="/system/states" class="button" routerLinkActive="activebutton">{{show_text(8, langue.l)}}</a>
</nav>
<router-outlet></router-outlet>