<nav class="band band2">
    <a routerLink="/system/weapons" class="button" routerLinkActive="activebutton">Weapons</a>
    <a routerLink="/system/armors" class="button" routerLinkActive="activebutton">Armors</a>
    <a routerLink="/system/gauges" class="button" routerLinkActive="activebutton">Gauges</a>
    <a routerLink="/system/attacking" class="button" routerLinkActive="activebutton">Attacking</a>
    <a routerLink="/system/combat" class="button" routerLinkActive="activebutton">Combat</a>
    <a routerLink="/system/magic" class="button" routerLinkActive="activebutton">Magic</a>
    <a routerLink="/system/healing" class="button" routerLinkActive="activebutton">Healing</a>
    <a routerLink="/system/states" class="button" routerLinkActive="activebutton">States</a>
</nav>
<router-outlet></router-outlet>