<p *ngIf="langue.l == 'fr'">
    Pour suggérer :<br/>
    1d12 + (efficacité x2) contre 1d12 + sensitivité
</p>
<p *ngIf="langue.l == 'en'">
    To suggest :<br/>
    1d12 + (efficacity x2) vs 1d12 + sensitivity
</p>
<p *ngIf="langue.l == 'fr'">
    E = force<br/>
    P = discrétion<br/>
    T = complexité (= nombre de mots dans la suggestion)<br/>
    D = distance<br/>
</p>
<p *ngIf="langue.l == 'en'">
    E = strength<br/>
    P = discretion<br/>
    T = complexity (= number of words in the suggestion)<br/>
    D = distance<br/>
</p>
