<p>
    Pour créer un personnage dans Destalyr, il est suggéré de commencer par la race ou la magie.<br/>
    Chaque race possède des bonus et des limitations sur certaines statistiques de jeu, et la magie est un point important de l'univers.<br/>
</p>
<div class="div-table">
    <table>
        <tr>
            <th>Race</th>
            <th>+1 au choix</th>
            <th>Cap à 2</th>
            <th>Capacité spéciale</th>
        </tr>
        <tr>
            <td>Nekali</td>
            <td>Agilité / Perception</td>
            <td>Force</td>
            <td>Grimper</td>
        </tr>
        <tr>
            <td>Flyhn</td>
            <td>Force / Perception</td>
            <td>Habileté</td>
            <td>planner</td>
        </tr>
        <tr>
            <td>Elf Sylvain</td>
            <td>Éloquence / Sensitivité</td>
            <td>Résistance</td>
            <td>Communication basique avec êtres vivants non sensés</td>
        </tr>
        <tr>
            <td>Etrek</td>
            <td>Résistance / Force</td>
            <td>Agilité</td>
            <td>Purifier de l’eau + enracinement</td>
        </tr>
        <tr>
            <td>Elf Sombre</td>
            <td>Habileté / Agilité</td>
            <td>Éloquence</td>
            <td>Vision dans le noir total</td>
        </tr>
        <tr>
            <td>Lyune</td>
            <td>Oui</td>
            <td>Non</td>
            <td>Ne pas être détesté</td>
        </tr>
    </table>
</div>
<p>
    Ensuite il faut répartir les points sur les différentes statistiques.<br/>
    7 valeurs pour 7 stats : 1 - 2 - 2 - 3 - 4 - 4 - 5<br/>
    Après la répartition, le joueur peut ajouter son point de stat racial, et vérifier que sa limitation est respectée, sinon la stat est baissée pour respecter.<br/>
    Ensuite, il faut décider de quel background et quelle éducation le personnage a reçu. S'il est diplômé de la citadelle, le personnage commence avec 3 points de compétence.<br/>
    Les points de compétence peuvent être dépensé sur un des trois arbres de compétence (cf skills). Chaque bloc coûte un point à apprendre et nécessite un bloc parent connu (suivre les flèches).<br/>
    Les arbres sont indépendents et un personnage peut aller dans les trois arbres sans restrictions. Les points sont communs à tous les arbres, et une fois consommés ne peuvent pas être ré-utilisés.<br/>
    Exemples : Personnage A veut être un mage sans armure. Il met ses trois points dans l'arbre magie.<br/>
    Personnage B veut être un archer en armure légère. Il met deux points en attaque côté armes de distance et un point de défense pour l'armure légère.<br/>
    Personnage C veut porter une armure lourde. Il met deux points en défense, et n'a plus qu'un point à mettre en attaque, qu'il met pour pouvoir manipuler les armes de mêlée.<br/>
    Enfin, le personnage peut posséder des connaissances sur des sujets variés. Les connaissances est une partie entièrement ouverte et personalisable du personnage (tant que ça reste dans le thème général du monde aka médiéval fantasy).<br/>
</p>
